<!-- Section footer -->
<footer id="footer-block">
    <div class="social">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="socials">
                        <a href="#"><i class="fa fa-skype"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <form class="form-horizontal">
                        <input type="text" class="input form-control" placeholder="Newsletter">
                        <button type="submit"> Sign up </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-information">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="inner-block">
                        <div class="header-footer">
                            <h3>Nosotros</h3>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur scelerisque ultricies ipsum vitae pretium. Mauris sit amet risus nulla. Nunc ipsum dui, condimentum eget lectus quis, egestas ullamcorper neque.
                        </p>

                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="inner-block">
                        <div class="header-footer">
                            <h3>Mi Cuenta</h3>
                        </div>
                        <ul class="footer-categories list-unstyled">
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Wish List</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Brands</a></li>
                            <li><a href="#">Specials</a></li>
                            <li><a href="#">Newsletter</a></li>
                            <li><a href="#">Secure payment</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="inner-block">
                        <div class="header-footer">
                            <h3>Contacto</h3>
                        </div>
                        <ul class="footer-categories list-unstyled">
                            <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; 2901 Marmora Road, Glassgow, Seattle, WA 98122-1090</li>
                            <li><i class="fa fa-phone"></i>&nbsp; 9 - 876 - 543 - 210 </li>
                            <li><i class="fa fa-print"></i>&nbsp; 1 - 234 - 567 - 890</li>
                            <li><a href="mailto:info@yourdomain.com"><i class="fa fa-envelope"></i>&nbsp; info@yourdomain.com</a></li>
                            <li><a href="mailto:support@yourdomain.com"><i class="fa fa-envelope"></i>&nbsp; support@yourdomain.com</a></li>
                            <li><a href=""><i class="fa fa-thumb-tack"></i>&nbsp;&nbsp; Location in Google Maps</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-3 col-sm-6">

                    <div class="inner-block">
                        <form class="form-horizonta">
                            <input class="form-control" placeholder="Name" name="name">
                            <input class="form-control" placeholder="E-mail" name="email">
                            <textarea class="form-control" placeholder="I want ..."></textarea>
                            <input type="submit" class="btn-default dark" value="Send us">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copy">
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <p>
                        <a href="">Copyright © 2014</a> Leman | MosaicGroup.<br>Designed by <a href="http://mosaicdesign.uz" target="_blank">Mosaic Design</a> All rights reserved. <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <ul class="footer-payments pull-right">
                        <li><img src="img/payment-maestro.jpg" alt="payment" /></li>
                        <li><img src="img/payment-discover.jpg" alt="payment" /></li>
                        <li><img src="img/payment-visa.jpg" alt="payment" /></li>
                        <li><img src="img/payment-american-express.jpg" alt="payment" /></li>
                        <li><img src="img/payment-paypal.jpg" alt="payment" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>