<section>
    <div class="block2">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                    <div class="row">
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="block-form box-border wow fadeInLeft animated" data-wow-duration="1s" style="visibility: visible;-webkit-animation-duration: 1s; -moz-animation-duration: 1s; animation-duration: 1s;">
                                <h3><i class="fa fa-truck"></i> Añadir Producto</h3>
                                <hr>
                                <form action="#" method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Imagen</label>
                                            <input type="file" class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Categoria</label>
                                            <select name="country" class="form-control">
                                                    <option selected="selected">Country 1</option>
                                                    <option>Country 2</option>
                                                    <option>Country 3</option>
                                                </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Categoria Padre</label>
                                            <select name="country" class="form-control">
                                                    <option selected="selected">Country 1</option>
                                                    <option>Country 2</option>
                                                    <option>Country 3</option>
                                                </select>
                                        </div>

                                        <div class="col-md-6">
                                            <label>Descripción</label>
                                            <textarea class="form-control" name="">
                                                </textarea>
                                        </div>
                                        <div class="col-md-2" style="float: right;">
                                            <div class="product light">
                                                <div class="product-small-list-text-img">
                                                    <img alt="" class="img-responsive" src="http://placehold.it/200x300">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="submit" value="Añadir" class="btn-default">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="row">
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="block-form box-border wow fadeInLeft animated" data-wow-duration="1s" style="visibility: visible;-webkit-animation-duration: 1s; -moz-animation-duration: 1s; animation-duration: 1s;">
                                <h3><i class="fa fa-tag"></i> Añadir Categoria</h3>
                                <hr>
                                <form action="#" method="post">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Categoria</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-12">
                                            <input type="submit" value="Añadir" class="btn-default">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </article>
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="block-form box-border wow fadeInLeft animated" data-wow-duration="1s" style="visibility: visible;-webkit-animation-duration: 1s; -moz-animation-duration: 1s; animation-duration: 1s;">
                                <h3><i class="fa fa-tag"></i> Añadir Categoria Padre</h3>
                                <hr>
                                <form action="#" method="post">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Categoria</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-12">
                                            <input type="submit" value="Añadir" class="btn-default">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                    <div class="row">
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="block-form block-order-total box-border wow fadeInRight animated" data-wow-duration="1s" style="visibility: visible;-webkit-animation-duration: 1s; -moz-animation-duration: 1s; animation-duration: 1s;">
                                <h3><i class="fa fa-dollar"></i> Categorias</h3>
                                <hr>
                                <ul class="list-unstyled tags">
                                    <li><a href="#">men</a></li>
                                    <li><a href="#">women</a></li>
                                    <li><a href="#">clothes</a></li>
                                    <li><a href="#">top</a></li>
                                    <li><a href="#">sale</a></li>
                                    <li><a href="#">dresses</a></li>
                                    <li><a href="#">short</a></li>
                                    <li><a href="#">skirt</a></li>
                                    <li><a href="#">top</a></li>
                                    <li><a href="#">bestseller</a></li>
                                    <li><a href="#">new</a></li>
                                </ul>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                    <div class="row">
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="block-form block-order-total box-border wow fadeInRight animated" data-wow-duration="1s" style="visibility: visible;-webkit-animation-duration: 1s; -moz-animation-duration: 1s; animation-duration: 1s;">
                                <h3><i class="fa fa-dollar"></i> Categorias Padre</h3>
                                <hr>
                                <ul class="list-unstyled tags">
                                    <li><a href="#">men</a></li>
                                    <li><a href="#">women</a></li>
                                    <li><a href="#">clothes</a></li>
                                    <li><a href="#">top</a></li>
                                    <li><a href="#">sale</a></li>
                                    <li><a href="#">dresses</a></li>
                                    <li><a href="#">short</a></li>
                                    <li><a href="#">skirt</a></li>
                                    <li><a href="#">top</a></li>
                                    <li><a href="#">bestseller</a></li>
                                    <li><a href="#">new</a></li>
                                </ul>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>