<section class="m-t-40">
    <div class="second-page-header dark">
        <div class="container">
            <h2>Productos</h2>

        </div>
    </div>
</section>

<section>
    <div class="block2">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="block-products-modes color-scheme-2">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
                                <div class="product-view-mode">
                                    <a href="products-grid.html" class="active"><i class="fa fa-th-large"></i></a>
                                    <a href="products-list.html"><i class="fa fa-th-list"></i></a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3 f-right">
                                        <select name="products-per-page" class="form-control">
                                        <option value="10" selected="selected">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="100">100</option>
                                        <option value="all">All</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div *ngFor="let item of productos" class="col-md-6 col-sm-6 col-lg-3">
                            <article class="product">

                                <figure class="figure-hover-overlay">
                                    <a [routerLink]="['/singleProduct', item.idProduct]" class="figure-href"></a>
                                    <img class="img-overlay img-responsive" [src]="'assets/imgProducts/'+item.photo" alt="" title="">
                                    <img class="img-responsive" [src]="'assets/imgProducts/'+item.photo" alt="{{item.photo}}" title="">
                                </figure>
                                <div class="product-caption">
                                    <div class="block-name">
                                        <a [routerLink]="['/singleProduct', item.idProduct]" class="product-name">{{item.nameProduct}}</a>
                                        <div class="product-rating">
                                            <div class="stars">
                                                <span [class.active]="item.valueAVG>4" class="star "></span><span [class.active]="item.valueAVG>3" class="star  "></span><span [class.active]="item.valueAVG>2" class="star  "></span><span [class.active]="item.valueAVG>1"
                                                    class="star  "></span><span [class.active]="item.valueAVG>0" class="star  "></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </article>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>